@model Planetario.Models.CuestionarioEvaluacionRecibirModel
@{ 
    string nombreCuestionario = ViewBag.Cuestionario.NombreCuestionario;
    ViewBag.opcionesFuncionalidades = new List<string>() 
    {
        "Compras","Juegos","Calendario","Actividades"
    };
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .form-check-input {
            width: 1.25em;
            height: 1.25em;
        }

        div.row textarea.form-control {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/minisuperfiles/MSFmultiSelect/msfmultiselect.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/minisuperfiles/MSFmultiSelect/msfmultiselect.min.css" rel="stylesheet" />
</head>
<body>
    <span class="titulo">
        @nombreCuestionario
    </span>
    @if (ViewBag.Message != null)
    {
        if (ViewBag.ExitoAlCrear)
        {
            <p class="alert alert-info"> @ViewBag.Message </p>
        }
        else
        {
            <p class="alert alert-warning"> @ViewBag.Message </p>
        }
    }
    @using (Html.BeginForm("CuestionarioEvaluacion", "Evaluacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        for (var i = 0; i < ViewBag.Cuestionario.Preguntas.Count; i++)
        {
            <div class="row">
                <h4>@ViewBag.Cuestionario.Preguntas[i].</h4>
                <div class="row" style="text-align: center; margin-bottom: 0px;">
                    <div class="col">
                        <strong> Muy en desacuerdo</strong>
                    </div>
                    <div class="col">
                        <strong> En desacuerdo </strong>
                    </div>
                    <div class="col">
                        <strong> Neutro </strong>
                    </div>
                    <div class="col">
                        <strong> De acuerdo </strong>
                    </div>
                    <div class="col">
                        <strong> Muy de acuerdo</strong>
                    </div>
                </div>

                <div class="row" style="text-align: center; margin-top: 0px;">
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "Muy en desacuerdo", new { @class = "form-check-input" })
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "En desacuerdo", new { @class = "form-check-input" })
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "Neutro", new { @class = "form-check-input" })
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "De acuerdo", new { @class = "form-check-input" })
                    </div>
                    <div class="col" style="margin-top: 1%;">
                        @Html.RadioButtonFor(m => m.Respuestas[i], "Muy de acuerdo", new { @class = "form-check-input" })
                    </div>
                </div>
            </div>
            <hr /><br />
        }
        <div class="row">
        <label for="myselect" class="control-label">Usé las siguientes funcionalidades</label>
        <div class="row" id="myselect">
            <select id="multiselect" name="others[]" multiple="multiple" class="form-control-lg" style="width:100%;">

                @foreach (var funcionalidad in ViewBag.opcionesFuncionalidades)
                {
                    <option value=@funcionalidad>@funcionalidad</option>
                }

            </select>
            @Html.ValidationMessageFor(model => model.Funcionalidades, "", new { @class = "text-danger" })
            <input type="hidden" id="Funcionalidades" name="Funcionalidades" value="">
        </div>
        </div>

        <div class="card p-4 bg-light" style="padding-top: 0.2rem !important;">
            <div class="row text-center justify-content-center" >
                <p>Opcionalmente, déjenos un comentario adicional</p>
                @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control-lg", @placeholder = "Comentario" })
                @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row justify-content-center">
            <input id="botonEnviar" type="submit" class="btn btn-success col-4" value="Enviar">
            @Html.Hidden("Categoria", "Categoria")
            @Html.Hidden("NombreCuestionario", nombreCuestionario)
        </div>
    }
    <script>
        let listaFuncionalidades = @Html.Raw(Json.Encode(ViewBag.opcionesFuncionalidades));
        let select = new MSFmultiSelect(
            document.querySelector('#multiselect'),
            {
                theme: 'theme2',
                selectAll: false,
                searchBox: false,
                onChange: function (checked, value, instance) {
                    listar();
                },
                placeholder: 'Funcionalidades Usadas',
                afterSelectAll: function (checked, values, instance) {

                }
            }
        );

        function listar()
        {
            var seleccion = [];
            for (i = 0; i < listaFuncionalidades.length; i++) {
                if (select.data[i] === true) {
                    seleccion.push(listaFuncionalidades[i])
                }
            }
            document.getElementById("Funcionalidades").value = seleccion.join(";");
        }
    </script>
</body>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

</html>
