@model Planetario.Models.CuestionarioModel
@{
    ViewBag.Title = "Agregar Cuestionario";
    List<SelectListItem> dificultades = new List<SelectListItem>() {
            new SelectListItem { Text = "Simple" },
            new SelectListItem { Text = "Intermedio" },
            new SelectListItem { Text = "Avanzado" },
     };
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<body>
    @using (Html.BeginForm("agregarCuestionario", "Cuestionario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span class="titulo">Agregar Cuestionario</span>
        <p class="alert-success">@ViewBag.Message</p>
        <h4>Formulario de agregar cuestionario</h4>
        <hr />
        <div class="row">
            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.NombreCuestionario, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(model => model.NombreCuestionario, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NombreCuestionario, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Dificultad, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-6 col-sm-12">
                    @Html.DropDownListFor(model => model.Dificultad, dificultades, "--Dificultad--", new { @id = "dificultad", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Dificultad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                @Html.LabelFor(model => model.EmbedHTML, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-6 col-sm-12">
                    @Html.TextBoxFor(model => model.EmbedHTML, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmbedHTML, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.CorreoResponsable, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(model => model.CorreoResponsable, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CorreoResponsable, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div style="margin-top:25px"></div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                @Html.ActionLink("Volver", "PanelDeAdministracion", "Home", new { area = "" }, new { @class = "btn btn-danger" })
            </div>
            <div class="col-md-4 col-sm-12">

            </div>
            <div class="col-md-4 col-sm-12">
                <input type="submit" class="btn btn-success" value="Crear" />
            </div>
        </div>

        <div>
            @Html.ActionLink("Regresar a Inicio", "InformacionBasica", "Home")
        </div>
    }
</body>
</html>
